<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Teil Example</title>
    <link rel="stylesheet" href="lib/bulma.min.css">
  </head>
  
  <body>
    <div id="app">
      <div class="columns section">
        <div class="column">
          <h1 class="title is-1">Authors</h1>
          
          <form class="field" @submit.prevent="onAuthorSubmit">
            <div class="control">
              <input class="input" type="input" placeholder="Author Name + Enter" v-model="authorInput" />
            </div>
          </form>
          
          <table class="table is-bordered is-striped is-fullwidth">
            <thead>
              <tr>
                <th>ID</th>
                <th>Author</th>
                <th>Edit</th>
                <th>Delete</th>
              </tr>
            </thead>
            
            <tbody>
              <tr v-for="author in authors">
                <td>{{ author.id }}</td>
                <td>
                  <template v-if="author.id === authorEditId">
                    <form @submit.prevent="onAuthorEditSubmit">
                      <input class="input" type="text" v-model="authorEditInput" />
                    </form>
                  </template>
                  
                  <template v-else>
                    {{ author.name }}
                  </template>
                </td>
                <td>
                  <a class="button is-info" @click="onAuthorEditClick(author)">
                    Edit
                  </a>
                </td>
                <td>
                  <a class="button is-danger" @click="onAuthorDeleteClick(author)">
                    Delete
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        
        <div class="column">
          <h1 class="title is-1">Books</h1>
          
          <form class="field has-addons" @submit.prevent="onBookSubmit">
            <p class="control is-expanded">
              <input class="input" type="text" placeholder="Book Title" v-model="bookInput">
            </p>
            
            <p class="control">
              <span class="select">
                <select v-model="authorSelect">
                  <option v-for="author in authors" :value="author.id">
                    Author: {{ author.name }}
                  </option>
                </select>
              </span>
            </p>
            
            <p class="control">
              <button type="submit" class="button is-info">
                Save
              </button>
            </p>
          </form>
          
          <table class="table is-bordered is-striped is-fullwidth">
            <thead>
              <tr>
                <th>ID</th>
                <th>Book</th>
                <th>Author</th>
                <th>Delete</th>
              </tr>
            </thead>
            
            <tbody>
              <tr v-for="book in books">
                <td>{{ book.id }}</td>
                <td>{{ book.name }}</td>
                <td>{{ book.author.name }}</td>
                <td>
                  <a class="button is-danger" @click="onBookDeleteClick(book)">
                    Delete
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    
    <script src="lib/vue.min.js"></script>
    <script src="lib/axios.min.js"></script>
    <script src="app.js"></script>
  </body>
</html>